body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
        url('/public/bank-account-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.App {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

button {
    cursor: pointer;
}

.data-display {
    border: 2px solid #fff;
    min-width: 200px;
    height: 150px;
    margin: 0 auto;
    padding: 1rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.data-display p {
    font-size: 20px;
}

p.balance-number {
    font-size: 14px;
    color: #a5cffc;
}

.buttons button {
    padding: 0.5rem;
    min-width: 200px;
    border-radius: 5px;
    font-size: 14px;
}

.btn-active:hover {
    background-color: #cecece;
}

/* The Modal (background) */
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0); /* fallback color */
    background-color: rgba(15, 93, 177, 0.85);
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    width: 500px;
    border: 1px solid #888;
    color: #000;
}

.modal-content h3 {
    line-height: 1.5;
    font-weight: 500;
    color: #454545;
}

.modal-buttons button {
    background-color: #55a7ff;
    padding: 0.5rem 1.5rem;
    border: none;
    color: #fff;
}

.modal-buttons button:hover {
    background-color: #1988ff;
}

@media screen and (max-width: 600px) {
    /* Modal Content/Box */
    .modal-content {
        width: 350px;
    }
}
